.text1{
    text-align: center !important;
   
}
.text2{
    text-align: center !important;
   
}
.modal-link{
    color: red !important;
    text-align: center !important;
    margin-right: 40% !important;
}